.company-logo{
  height:50px;
  width:50px;
  position:relative;
  left:50px;
  top:25px;
}



.content{
  width:150px;
  margin:10 auto;
  background-color:PaleTurquoise;
  width:100%;
  box-shadow: 1px 1px 30px paleturquoise;
  width:350px;
  margin:0 auto;

}

.header{
  background-image:url(https://images.unsplash.com/photo-1443453489887-98f56bc5bb38?crop=entropy&fit=crop&fm=jpg&h=625&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375);
  background-position:0px -90px;
  margin:0px;
  padding:0px;
  height:200px;
}

#Initiative{
    font-weight: 700;
position:relative;
  left:48px;
  top:0px;
  font-style: italic;30px;
  font-family: sans-serif;
}
