body{
  background-color:gold;
}

h1{
  text-align:center;
}

h2{

  style="height:150px; width:75px;box-shadow:10px 10px 5px #888888;"

}

.container{
  background-color:white;
  width:600px;
  /*centering trick*/
  margin:0 auto;
}
