body{
  background-image:url("../img/universe.jpg");
  background-size:cover;
}

img{
  height:150px;
  width:150px;
}

.blue-paragraph{
  color:blue;
}

#green-paragraph{
  color: white;
  box-shadow: 15px 15px 30px black;
  width:350px;
  margin:0 auto;
}

#center-trick{
  top:200px;
  width:150px;
  margin:10 auto;
}

#all-around-margin{
  margin:15px;

}

#padding-and-border{
  padding:15px;
  border:5px solid Black;
  top:400px;
  width:150px;
  margin:10 auto;

}
